.App {
  text-align: center;
  border: 1px solid black;
  width: 50%;
  margin-top:3%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > h1{
  border-bottom: 1px solid gray;
  width: 100%;
  padding-bottom: 10px;
}

.App .footer{
  width: 100%;
}

.App .footer input{
  font-family: Helvetica,Arial, sans-serif;
  font-size: 35px;
  color: #353535;
  margin-right: 15px;
  border: none;
  text-align: center;
}

.App .footer input:focus{
  outline: none;
}

